<div class="container mb-8 shadow-md">
  <h2 class="text-2xl font-bold">Learn Lists:</h2>
  <div class="p-4 text-lg">
    <ul class="list-disc mx-4">
      <li>using yarn</li>
      <li>using tailwind & daisyui</li>
      <li>using loop <code>link[]</code></li>
      <li>
        using component & <code>loop[]</code> for <code>app-navlink</code>
      </li>
      <li>getting current path in angular</li>
      <li>conditional class for</li>
    </ul>
  </div>
</div>

<div class="container mb-12 shadow-md">
  <h2 class="text-2xl font-bold">Questions:</h2>
  <div class="p-4 text-lg">
    <ul class="list-decimal mx-4">
      <li><code>constructor(...)&lbrace;&rbrace;</code> buat apa ya?</li>
      <li>Apa tanda kutip di Angular sensitif?</li>
      <li>
        Template bisa langsung di <code>@Component</code> ya? Ada bedanya?
      </li>
      <li>
        Attribut bisa <code>[attr]</code> dan <code>attr</code>, ada bedanya?
      </li>
      <li>
        Gabisa install <code>js-cookie</code> baik di regular/dev dependencies.
        Ada saran?
      </li>
      <li>Gimana kalo kita mau <code>construct</code> lebih dari 1 package?</li>
      <li>
        Kalo pake <code>template:</code> di component, VSCode gua gabisa code
        grouping, ngalamin jg dan ada solusi ga?
      </li>
      <li>
        Form values di subscribe ke <code>this.formGroup</code>, ada cara cepet
        ga ya akses value nya selain <code>this.formGroup.value.field</code> ?
      </li>
    </ul>
  </div>
</div>
